body {
  margin: 0;
  font-family: 'Rubik', sans-serif;

  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;

  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/* Container
===================*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header
===================*/

.header {
  width: 100%;
  height: 100px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__logo {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}

.header.fixed {
  position: fixed;
  background-color: #34353a;
  height: auto;
}

.header.fixed .header__inner {
  padding: 15px 0;
  border-bottom: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;

  border-bottom: 1px solid #515369;
}

.title {
  color: #31344e;
  font-size: 30px;
  margin-top: 60px;
  text-align: center;

}

/* Nav
===================*/

.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  margin-left: 50px;

  color: #fff;
  text-decoration: none;

  transition: opacity 0.1s linear;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  color: rgb(18, 228, 243);
}

/* Intro
===================*/

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-top: 100px;
  background: #31344e url("img/robot.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.intro:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(13, 5, 41, 0.9);
}

.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.intro__title {
  margin: 0 0 30px;
  font-size: 65px;
  line-height: 1.1;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.intro__subtitle {
  margin-bottom: 60px;

  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}

/* Button
===================*/
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 18px 46px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background 0.1s linear;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn--yellow {
  background-color: rgb(243, 209, 18);
  font-weight: 700;

}

.btn--yellow:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(12, 20, 90);

}

.btn--long {
  min-width: 280px;
}

/* Features
===================*/
.features {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 95px 0;
}

.features__item {
  width: 33.33333%;
  padding: 0 40px;
  margin: 25px 0;

  text-align: center;
}

.features__icon {
  margin-bottom: 25px;
}

.features__title {
  margin-bottom: 20px;

  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
}

/* Works */
.works {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}

.works__item {
  width: 25%;
  height: 350px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  position: relative;
  overflow: hidden;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__photo {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: rgba(12, 20, 90, 0.9);

  opacity: 0;

  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  transition: opacity 0.2s linear;
}

.works__title {
  margin-bottom: 5px;

  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.works__text {
  font-size: 14px;
  color: #fff;
}

/* Team 
===================*/
.team {
  margin: 100px 0 70px;
}

.team_inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-top: 45px;
}

.team_item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team_photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team_name {
  margin-bottom: 8px;
  font-size: 22px;
  color: #2d3033;
}

.team_prof {
  margin-bottom: 15px;
  color: #e84545;
  font-style: 13px;
  text-transform: uppercase;
}

.team_text {
  margin-bottom: 20px;
  color: #6c7279;
  font-style: 14px;
  line-height: 1.5;
}

/* Social 
===================*/
.social {
  display: flex;
}

.social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  margin-right: 4px;
  background-color: #fff;
  transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
}

.social_icon {
  fill: #cccccc;
  display: block;
  height: 18px;
  transition: fill 0.1s linear;
  -webkit-transition: fill 0.1s linear;
  -moz-transition: fill 0.1s linear;
  -ms-transition: fill 0.1s linear;
  -o-transition: fill 0.1s linear;
}

.social_footer {
  justify-content: center;
}

.social_item:hover {
  background-color: #e8ecee;
}

.social_item:hover .social_icon {
  fill: #000;
}

.social_footer .social_item {
  background: transparent;
  border-width: 2px;
  border-color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.social_footer .social_item:hover {
  background-color: #fff;
}

.social_footer .social_icon {
  fill: #fff;
}

/* Testimonials 
===================*/
.reviews {
  background: rgb(12, 20, 90);
  overflow: hidden;
}

.reviews_item {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.reviews_photo {
  width: 50%;
  height: 500px;
  position: relative;
}

.reviews_content {
  width: 50%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews_text {
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 25px;
}

.reviews_img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.reviews_athor {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.reviewsSlider {
  height: auto;
}

.reviewsSlider.slick-initialized {
  height: 500px;
  overflow: hidden;
}

.slick-dots {
  display: flex;
  justify-content: center;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slick-dots li {
  margin: 0 5px;
  padding-bottom: 10px;
}

.slick-dots button {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-size: 0;
  color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.5;
}

.slick-dots .slick-active button {
  opacity: 1;
}

/* Download 
===================*/
.download {
  margin: 90px 0;
  text-align: center;
}

.download_title {
  margin-bottom: 10px;
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
}

.download_text {
  margin-bottom: 30px;
  font-size: 13px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}

/* Footer 
===================*/
.footer {
  background: #34353a;
}

.footer_inner {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 0;
}

.footer_block {
  width: 33.33333%;
  text-align: center;
  padding: 0 15px;
}

.footer_title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.footer_address {
  line-height: 1.5;
  font-size: 14px;
  font-style: normal;
  color: rgba (255, 255, 255, 0.5);
}

.footer_text {
  line-height: 1.5;
  font-size: 14px;
  color: rgba (255, 255, 255, 0.5);
}

/* Copyright 
===================*/
.copyright {
  background-color: #34353a;
  padding: 20px 0;
}

.copyright_text {
  text-align: center;
  font-size: 14px;
  color: #808080;
  line-height: 1.5;
}

.copyright_text span {
  color: #fff;
}

/* Burger */
.burger {
  display: none;
}

/* Media 
===================*/
@media (max-width: 1300px) {
  .works__item {
    width: 50%;
  }
}

@media (max-width: 991px) {

  /* nav */
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    text-align: right;
  }

  .nav__link {
    padding: 13px 15px;
    background-color: #31344e;
    margin-left: 0;
    opacity: 1;
  }

  .nav.show {
    display: flex;
  }

  /* Burger */
  .burger {
    display: block;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
  }

  .burger_item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
  }

  .burger_item:before,
  .burger_item:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;
  }

  .burger_item:before {
    top: -8px;
  }

  .burger_item:after {
    bottom: -8px;
  }

  /* intro */
  .intro__title {
    font-size: 40px;
  }

  /* Features */

  .features__item {
    width: 50%;
  }

  .team_item {
    text-align: center;
    width: 50%;
  }

  .team_photo {
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
  }

  .social {
    justify-content: center;
  }

  .reviews_photo {
    width: 100%;
    overflow: hidden;
    margin: 15px 0 40px;
  }

  .reviews_content {
    width: 100%;
    padding-left: 0;
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {

  /* intro */
  .intro {
    height: auto;
    padding-top: 130px;
    padding-bottom: 30px;
  }

  /* intro */
  .intro__title {
    font-size: 30px;
  }

  .intro__subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .features__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .features {
    margin: 40px 0;
  }

  .works__item {
    width: 100%;
    height: 300px;
  }

  .team_item {
    width: 100%;
  }

  .team {
    margin: 60px 0 30px;
  }

  .reviews_text {
    font-size: 25px;
  }

  .btn--long {
    min-width: 260px;
  }

  .download {
    margin: 50px 0;
  }

  .download_title {
    font-size: 24px;
  }

  .footer_block {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .footer_inner {
    padding: 30px 0;
  }

  .footer_block:last-child {
    margin-bottom: 0px;
  }
}

@media (max-width: 414px) {
  .reviews_img {
    right: -100px;
  }
}